{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{  asset('build/change-machine-app.css') }}" rel="stylesheet">
{% endblock %}

{% block maincontent %}

    <div
        id="changemachine-app"
        data-api-url="{{ path('api_coinvendor_split', { 'denomination': '--denom--'}) }}"
    ></div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/change-machine-app.js') }}"></script>
{% endblock %}