
$dark: #333;
$light: #efefef;
$dark-mid: #545454;
$light-mid: #bdbdbd;

$indent-normal: 10px;
$slot-border-width: 5px;

#ChangeMachine {

  display: block;
  border: 1px solid $dark;
  box-shadow: 2px 2px 2px $dark;


  #header {
    background-color: $dark;
    color: $light;
    text-align: left;
    padding-left: $indent-normal;
  }

  #wallet {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .denom {

        text-align: center;
        font-size: 1.6rem;
        vert-align: middle;

        display: inline-block;
        width: 80%;
        margin: 10px auto;
        border: 1px solid $dark;
        box-shadow: 2px 2px 2px $dark-mid;
      }
  }

  #slot {

    font-size: 3.0rem;
    background-color: $light;
    color: $light-mid;
    padding: 5px 0;
    text-align: center;
    border: $slot-border-width dotted $dark-mid;

    .denom {
      font-size: 2.0rem;
      color: $dark-mid;
    }
  }

  #bucket {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    .denomStack{

      text-align: center;
      font-size: 1.6rem;
      vert-align: middle;

      display: inline-block;
      width: auto;
      border: 1px solid $dark;
      box-shadow: 2px 2px 2px $dark-mid;

      .denomCount {

        a::after {
          content: " x";
          font-size: 0.9rem;
          font-weight: bold;
          color: $light-mid;
        }

        a, a:hover{
          color: $light;
          text-decoration: none;
          cursor: inherit;
        }
        font-size: 1.2rem;
        text-align: left;
        padding-left: $indent-normal;
        background-color: $dark-mid;
        color: $light;
      }

      .denomValue {
        font-size: 1.9rem;
      }

    }
  }

}