<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Change Machine!{% endblock %}</title>

        <script src="{{ asset('build/manifest.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% block body %}

            {% block nav %}
                <!-- Navigation -->
                <header>
                    <!-- Fixed navbar -->
                    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                        <a class="navbar-brand" href="/">Coin-Vending-Machine</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
            {% endblock %}

            {% block pagecontent %}
                <!-- Page Content -->
                <main role="main" class="container cvm-page">
                    <h1 class="mt-5">Coin Vending Machine</h1>
                    <p class="lead">Below is an <code>SPA</code> built in <code>ReactJS</code> for the Change Machine. (Open your devTools)</p>
                    {% block maincontent %}
                        <!-- Not Really Content! -->
                    {% endblock %}
                </main>
            {% endblock %}

            {% block footer %}
                <!-- Footer -->
                <footer class="footer">
                    <div class="container">
                        <span class="text-muted">Quickly built by Happy Coder 2018.</span>
                    </div>
                </footer>
            {% endblock %}

        {% endblock %}

        <script src="{{ asset('build/global.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
